<div class="card">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{this.fact.title}}</mat-card-title>
      <mat-card-subtitle>{{this.fact.subtitle}}</mat-card-subtitle>
    </mat-card-header>
    <img class="header-image" mat-card-image [src]="fact.image" alt="Image">
    <mat-card-content>
      <p>
        {{this.fact.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-stroked-button target="_blank" [href]="fact.url">Learn More</a>
      <button mat-flat-button>Share</button>
    </mat-card-actions>
  </mat-card>
</div>
